@use '../variables/' as *;

@media screen and (min-width: 1350px) {
    .contact-page {
        padding: 9em $padding-desktop;

        .contact-wrapper {
            flex-direction: row;
            justify-content: space-between;

            .contact-text {
                h2 {
                    text-align: left;
                }

                h3 {
                    text-align: left;
                }
            }
        }
    }
}