@use '../variables/' as *;

.about-section-2 {
    padding: 7.3em $padding-mobile 9.8em $padding-mobile;
    background: $deep-jungle-green;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .about-section-2-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1110px;
        margin: 0 auto;

        h2 {
            font-size: 2.7em;
            color: $white;
            font-weight: 700;
            text-align: center;
            letter-spacing: .03rem;
        }

        .team-members {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 4em 0 0 0;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                width: 100%;
                max-width: 350px;
                height: 253px;
                background: $sacramento-state-green;
                padding: 2.7em 3em 0 3em;
                position: relative;
                transition: 500ms;
                transform-style: preserve-3d;
                transform: perspective(1000px) rotateY(var(--rotate-y, 0));

                &.flipped {
                    background: $dark-green;
                    --rotate-y: 180deg;
                }

                &:not(:first-child) {
                    margin: 4.7em 0 0 0;
                }

                .flip-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 56px;
                    height: 56px;
                    border: none;
                    outline: none;
                    border-radius: 50%;
                    margin: 0 0 -28px 0;
                    cursor: pointer;
                }

                .card-front {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    backface-visibility: hidden;

                    img {
                        width: 96px;
                        height: 96px;
                        border-radius: 50%;
                        border: 2px solid $image-border;
                    }

                    h3 {
                        color: $rapture-blue;
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-align: center;
                        padding: 1.2em 0 .5em 0;
                        letter-spacing: .03rem;
                    }

                    span {
                        font-size: 1.2rem;
                        font-style: italic;
                        color: $white;
                        letter-spacing: .03rem;
                        padding: 0 0 1.5em 0;
                    }

                    .flip-card-front {
                        background-color: $light-coral;

                        &:hover, &:focus {
                            background-color: $rapture-blue;
                        }
                    }

                    // &.front {
                    //     display: none;
                    // }
                }

                .card-back {
                    // display: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform: rotateY(180deg);
                    position: absolute;
                    padding: 0 3em 0 3em;
                    backface-visibility: hidden;
                    background: $dark-green;

                    h3 {
                        color: $rapture-blue;
                        font-size: 1.5rem;
                        font-weight: 700;
                        letter-spacing: .03rem;
                    }

                    p {
                        text-align: center;
                        color: $white;
                        font-size: 1.15rem;
                        letter-spacing: .025rem;
                        line-height: 2em;
                        padding: 1em 0 1.5em 0;
                    }

                    .card-social {
                        display: flex;
                        justify-content: center;
                        padding: 0 0 2.5em 0;

                        svg {
                            &:first-child {
                                margin: 0 1.3em 0 0;
                            }
                        }
                    }

                    .flip-card-back {
                        background: $rapture-blue;

                        &:hover, &:focus {
                            background: $light-coral;
                        }

                        svg {
                            transform: rotate(45deg);
                        }
                    }

                    // &.back {
                    //     display: flex;
                    // }
                }
            }
        }
    }

    &:before, &:after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        display: block;
        z-index: -1;
    }

    &:before {
        background-image: url("../images/bg-pattern-about-2-contact-1.svg");
        width: 200px;
        height: 200px;
        top: -100px;
        left: -100px;
    }

    &:after {
        background-image: url("../images/bg-pattern-home-4-about-3.svg");
        width: 147px;
        height: 100px;
        bottom: 0;
        right: 0;
    }
}