@use '../variables/' as *;

@media screen and (min-width: 1350px) {
    .about-section-1 {
        padding: 7em $padding-desktop 10em $padding-desktop;

        .section-1-wrapper {
            h1 {
                align-self: flex-start;
                font-size: 5.5em;
            }

            p {
                max-width: 730px;
                &:before {
                    background: $light-coral;
                }
            }
        }
    }

    .about-section-2 {
        padding: 7.3em $padding-desktop;

        .about-section-2-wrapper {
            h2 {
                font-size: 4em;
            }

            .team-members {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                justify-content: space-between;

                .card {
                    margin: 0 0 6em 0;
                    padding: 2.7em 4.5em 0 4.5em;

                    &:not(:first-child) {
                        margin: 0 0 6em .5em;
                    }
                }
            }
        }

        &:before {
            top: 0;
        }
    }

    .about-section-3 {
        padding: 13em $padding-desktop;

        .about-section-3-wrapper {
            h2 {
                font-size: 4em;
            }
        }

        &:before {
            top: 0;
        }
    }
}