@use '../variables/' as *;

.contact-page {
    background: $midnight-green;
    padding: 7em $padding-mobile;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;

        .contact-text {
            max-width: 515px;
            padding: 0 0 4em 0;

            h2 {
                color: $white;
                font-size: 3.3rem;
                font-weight: 700;
                text-align: center;
                letter-spacing: .03rem;
            }

            h3 {
                color: $light-coral;
                font-size: 2.7rem;
                font-weight: 700;
                padding: .5em 0 1.5em 0;
                text-align: center;
                letter-spacing: .03rem;
            }

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    &:not(:first-child) {
                        margin: 1em 0 0 0;
                    }

                    img {
                        width: 72px;
                        height: 72px;
                    }

                    span {
                        color: $white;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        letter-spacing: .03rem;
                        margin: 0 0 0 1.5em;
                    }
                }
            }
        }

        .contact-form {
            width: 100%;
            max-width: 540px;

            form {
                width: 100%;

                .form-element {
                    display: flex;
                    flex-direction: column;

                    input, textarea {
                        font-family: $font-stack;
                        font-size: 1.25rem;
                        font-weight: 600;
                        letter-spacing: .03rem;
                        color: $white;
                        background: $midnight-green;
                        border: none;
                        border-bottom: 1px $white solid;
                        padding: 0 0 1.4rem 1.1rem;

                        &::placeholder {
                            font-size: 1.25rem;
                            color: $white;
                            opacity: .6;
                            letter-spacing: .025rem;
                        }

                        &:hover, &:focus {
                            input, textarea {
                                border-bottom: 1px solid $rapture-blue;
                                outline: none;
                            }
                        }
                    }

                    label {
                        visibility: hidden;
                        padding: .7rem 0 0 0;
                    }

                    &.error {
                        input, textarea {
                            border-bottom: 1px solid $light-coral;

                            &::placeholder {
                                color: $light-coral;
                                opacity: .6;
                            }
                        }

                        .error-div {
                            color: $light-coral;
                            font-size: .9rem;
                            font-style: italic;
                            padding: .5rem 0 0 1.1rem;
                        }
                    }
                }

                button {
                    font-family: $font-stack;
                    font-size: 1.3rem;
                    font-weight: 600;
                    border: none;
                    width: 123px;
                    height: 48px;
                    margin: 1.5em 0 0 0;
                    cursor: pointer;
                }
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url("../images/bg-pattern-contact-2.svg");
        background-repeat: no-repeat;
        width: 201px;
        height: 225px;
        bottom: -100px;
        right: -100px;
        display: block;
        z-index: -1;
    }
}