@use '../variables/' as *;

.home-section-2 {
    background: $sacramento-state-green;
    width: 100%;
    padding: 9em $padding-mobile 5.4em $padding-mobile;
    position: relative;

    .home-section-2-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;

        h2 {
            align-self: flex-start;
            width: 70%;
            font-size: 2.8rem;
            font-weight: 700;
            color: $white;
            line-height: 1.1em;
            position: relative;
            letter-spacing: .02em;
            font-style: normal;
    
            &:before {
                content: '';
                position: absolute;
                top: -32px;
                left: 0;
                width: 50px;
                height: 4px;
                background: $light-coral;
                display: block;
            }
        }
    
        .presentation {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5em 0 0 0;
    
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &:not(:first-child) {
                    margin: 4em 0 0 0;
                }
                img {
                    width: 72px;
                    height: 72px;
                }
    
                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $light-coral;
                    padding: 1.2em 0 .8em 0;
                    letter-spacing: .03em;
                }
    
                p {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $white;
                    text-align: center;
                    line-height: 2em;
                    letter-spacing: .02em;
                    opacity: .8;
                }
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -100px;
        background-image: url("../images/bg-pattern-home-3.svg");
        background-repeat: no-repeat;
        background-position: right top;
        display: block;
        width: 200px;
        height: 244px;
    }

}