@use '../variables/' as *;

.home-section-1 {
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    padding: 8em $padding-mobile 0 $padding-mobile;
    background: $midnight-green;
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        background-image: url("../images/bg-pattern-home-2.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 358px;
        height: 200px;
        z-index: -1;
    }
}

.section-1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;

    h1 {
        font-size: 3.3rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: .025rem;
        color: $white;
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        -webkit-animation: 1s linear 500ms forwards slideFromLeft;
                animation: 1s linear 500ms forwards slideFromLeft;

        span {
            color: $light-coral;
        }
    }

    p {
        font-size: 1.15rem;
        font-weight: 600;
        line-height: 2.2em;
        text-align: center;
        max-width: 460px;
        color: $white;
        letter-spacing: .03rem;
        padding: 1.1em 0 0 0;
        opacity: 0;
        -webkit-animation: 1.5s linear 500ms forwards fadeIn;
                animation: 1.5s linear 500ms forwards fadeIn;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        -webkit-transform: translateX(-200%);
                transform: translateX(-200%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@keyframes slideFromLeft {
    0% {
        -webkit-transform: translateX(-200%);
                transform: translateX(-200%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}