@use '../variables/' as *;

.about-section-1 {
    padding: 9em $padding-mobile;
    background: $midnight-green;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        bottom: -100px;
        right: -100px;
        background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
        background-repeat: no-repeat;
        display: block;
        width: 200px;
        height: 200px;
        z-index: -1;
    }
}

// See _home-section-1 for the rest of the styles
// .section-1-wrapper shared with the home page