@use '../variables/' as *;

@media screen and (min-width: 768px) {
    .about-section-1 {
        padding: 9em $padding-tablet;
        
        &:after {
            bottom: 0;
        }
    }

    .about-section-2 {
        padding: 7.3em $padding-tablet;

        .about-section-2-wrapper {

            .team-members {
                display: grid;
                grid-template-rows: repeat(3, auto);
                grid-template-columns: repeat(2, 1fr);

                .card {
                    width: auto;
                    margin: 0 0 4em .5em;
                    padding: 2.7em 3em 0 3em;

                    &:not(:first-child) {
                        margin: 0 0 4em .5em;
                    }
                }
            }
        }
    }

    .about-section-3 {
        padding: 7.3em 3em;

        .about-section-3-wrapper {

            .clients {
                flex-direction: row;
                justify-content: space-between;
                padding: 3em 0 0 0;

                img {
                    width: 15%;
                    height: auto;

                    &:not(:first-child) {
                        margin: 0 0 0 1em;
                    }

                    &:last-child {
                        width: 10%;
                    }
                }
            }
        }

        &:before {
            left: 0;
        }
    }
}