@use '../variables/' as *;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 48px;
    border-radius: 24px;
}

.btn-primary-light {
    border: 2px solid $white;
    color: white;
    transition: background 600ms ease-in-out;

    &:hover, &:focus {
        background: $white;
        outline: none;
    }
}

.btn-secondary {
    background: $white;
    color: $deep-jungle-green;
    transition: background 600ms ease-in-out;

    &:hover, &:focus {
        background: $rapture-blue;

    }
}
