@use '../variables/' as *;

footer {
    background: $dark-green;
    width: 100%;
    padding: 5.5em 2em;
    position: relative;

    .footer-wrapper {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(5, auto);
        align-items: center;
        justify-items: center;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;

        img {
            width: 96px;
            height: 24px;
        }
    
        nav {
            margin: 2em 0;
            ul {
                display: flex;
    
                li {
                    &:not(:first-child) {
                        margin: 0 0 0 1em;
                    }
                    a {
                        color: $white;
                        font-size: 1.2rem;
                        font-weight: 600;
                        letter-spacing: .025em;
                        transition: color 600ms ease-in-out;
    
                        &:hover, &:focus {
                            color: $light-coral;
                        }
                    }
                }
            }
        }
    
        address {
            color: $white;
            font-size: 1.2rem;
            line-height: 2em;
            font-weight: 600;
            opacity: .6;
            text-align: center;
            margin: 0 0 3em 0; 
            font-style: normal;
            letter-spacing: .025em;
        }
    
        .social-media {
            margin: 0 0 1.3em 0;
    
            svg {
                cursor: pointer;
    
                &:not(:first-child) {
                    margin: 0 0 0 1.3em;
                }
    
                path {
                    transition: fill 600ms ease-in-out;
                    
                    &:hover, &:focus {
                        fill: $light-coral;
                    }
                }
            }
        }
    
        small {
            color: $white;
            opacity: .6;
            font-size: 1.2rem;
        }
    
        .attribution {
            position: absolute;
            bottom: 0;
            text-align: center;
            color: $white;
            opacity: .6;
            font-size: 1rem;
            padding: 0 0 1em 0;
    
            a {
                color: $white;
                opacity: .6;
                text-decoration: underline;
            }
        }
    }
}