@use '../variables/' as *;

header {
    background: $midnight-green;
    width: 100%;
    padding: 4em 2em 0 2em;
    position: relative;
    box-sizing: border-box;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        box-sizing: border-box;

        .logo {
            width: 128px;
            height: 32px;
        }
    
        .mobile-menu {
            display: block;
            width: 20px;
            height: 17px;
            z-index: 2;
            cursor: pointer;
        }
    
        .mobile-nav-blur {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 100vw;
            background: $mobile-wrapper;
            z-index: 2;
    
            &.show {
                display: block;
            }
        }
    
        .navbar {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 0;
            height: 100vh;
            background: $police-blue;
            flex-direction: column;
            padding: 5em 2em 0 4em;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            transition: all 600ms ease-in-out;
    
            .close-menu {
                align-self: flex-end;
                cursor: pointer;
            }
    
            ul {
                align-self: flex-start;
                display: flex;
                flex-direction: column;
    
                li {
                    cursor: pointer;
    
                    &:first-child {
                        margin: 4em 0 0 0;
                    }
    
                    &:not(:first-child) {
                        margin: 3em 0 0 0;
                    }
    
                    &:last-child {
                        a {
                            transition: color 600ms ease-in-out;

                            &:hover, &:focus {
                                color: $police-blue;
                            }
                        }
                    }
                    a {
                        font-size: 1.5rem;
                        color: $white;
                        font-weight: 500;
                        transition: color 600ms ease-in-out;
    
                        &:hover, &:focus {
                            color: $light-coral;
                        }
                    }
                }
            }
    
            &:after {
                content: '';
                position: absolute;
                background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
                background-repeat: no-repeat;
                background-position: bottom 0 right -100px;
                bottom: 0;
                right: 0;
                width: 200px;
                height: 200px;
                display: block;
            }
    
            &.show {
                // display: flex;
                visibility: visible;
                opacity: 1;
                width: 260px;
            }
        }
    }
}