// ------------------------------------- Partials ----------------------------------------

// Variables
@use './variables/' as *;

// Shared
@use './shared/header';
@use './shared/footer';
@use './shared/banner';
@use './shared/buttons';

// Home page
@use './home-page/home-section-1';
@use './home-page/home-section-2';
@use './home-page/home-section-3';

// About page
@use './about-page/about-section-1';
@use './about-page/about-section-2';
@use './about-page/about-section-3';

// Contact
@use './contact/contact';

// Media queries
@use './home-page/media-768-home';
@use './home-page/media-1350-home';
@use './shared/media-768-shared';
@use './shared/media-1350-shared';
@use './about-page/media-768-about';
@use './about-page/media-1350-about';
@use './contact/media-768-contact';
@use './contact/media-1350-contact';

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500;600;700&display=swap');

// --------------------------------- General styles ---------------------------------
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    &.stop-scroll {
        overflow: hidden;
    }
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: $font-stack; 
    position: relative;
    
}

#root {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// ------------------------------------ Main container -----------------------------------
#container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    position: relative; 
    overflow-x: hidden;   
}