// ----------- Variables
$font-stack: 'Livvic', sans-serif;

// Primary colors
$midnight-green: #014E56;
$light-coral: #F67E7E;
$white: #FFFFFF;

// Secondary colors
$rapture-blue: #79C8C7;
$police-blue: #2C6269;
$deep-jungle-green: #004047;
$sacramento-state-green: #012F34;
$dark-green: #002529;

$mobile-wrapper: rgba(0,37,41,0.5);
$image-border: #C4FFFE;

// Padding left/right for each screen size
$padding-mobile: 2em;
$padding-tablet: 8em;
$padding-desktop: 13.5em;